body {
  padding-top: 0px;
}
.starter-template {
  padding: 0px 0px;
  text-align: center;
  background-color: @gray-lighter
}
.result {
	padding : 20px 20px;
	background-color: #CCEECC;
	border-radius : 15px
}